body {
  margin: 0;
  font-family: Arial, sans-serif;
}
/* Navigation bar */

/* Top donors section */
.top-donors {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  background-color: #f8f8f8;
}

.top-donors h2 {
  text-align: center;
  margin-top: 20px;
}

.top-donor-row {
  display: flex;
  justify-content: space-between;
}

.top-donor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.top-donor img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.top-donor h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.top-donor p {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

/* Top collectors section */
.top-collectors {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  background-color: #f8f8f8;
}

.top-collectors h2 {
  text-align: center;
  margin-top: 20px;
}

.top-collector-row {
  display: flex;
  justify-content: space-between;
}

.top-collector {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.top-collector img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.top-collector h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.top-collector p {
  font-size: 16px;
  margin-bottom: 10px;
  text-align: center;
}

/* About us section */
.about-us {
  padding: 50px;
  background-color: #fff;
}

.about-us h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.about-us p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}


@media screen and (max-width: 768px) {
  /* Navigation bar */

  /* Top donors section */
  .top-donors {
    padding: 20px;
  }

  .top-donor-row {
    flex-direction: column;
  }

  .top-donor {
    width: 90%;
    margin: 10px 0;
  }

  .top-donor img {
    width: 80px;
    height: 80px;
  }

  .top-donor h2 {
    font-size: 16px;
  }

  .top-donor p {
    font-size: 14px;
  }

  /* Top collectors section */
  .top-collectors {
    padding: 20px;
  }

  .top-collector-row {
    flex-direction: column;
  }

  .top-collector {
    width: 90%;
    margin: 10px 0;
  }

  .top-collector img {
    width: 80px;
    height: 80px;
  }

  .top-collector h2 {
    font-size: 16px;
  }

  .top-collector p {
    font-size: 14px;
  }

  /* About us section */
  .about-us {
    padding: 20px;
  }

  .about-us h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .about-us p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }


}
