<div class="row" *ngIf="member">
    <div class="col-4">
        <div class="card">
            <img src="{{member.user.photoUrl || './assets/user.png'}}" alt="{{member.user.name}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Name:</strong>
                    <p>{{member.user.name}}</p>
                </div>
                <div>
                    <strong>UserName:</strong>
                    <p>{{member.user.userName}}</p>
                </div>
                <div>
                    <strong>Donor Type:</strong>
                    <p>{{member.user.donorType}}</p>
                </div>
                <div>
                    <strong>Volunteer Type:</strong>
                    <p>{{member.user.volunteerType}}</p>
                </div>
                <div>
                    <strong>Location:</strong>
                    <p>{{member.user.addressLine1}}</p>
                    <p>{{member.user.addressLine2}}</p>
                    <p>{{member.user.city}}</p>
                    <p>{{member.user.pincode}}</p>
                </div>
                <div>
                    <strong>Phone Number:</strong>
                    <p>{{member.user.phoneNumber}}</p>
                </div>
                <div>
                    <strong>Member Since:</strong>
                    <p>2022</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-danger">Like</button>
                    <button class="btn btn-success">Messages</button>
                </div>
            </div>
        </div>

    </div>

    <div class="col-8">
        <tabset class="member.user-tabset">
            <tab heading="About {{member.user.name}}">
                <div class="tab-content">
                    <h4>Description</h4>
                    <p>{{member.user.introduction}} Need to add this field to api</p>
                    <h4>Life Goals</h4>
                    <p>{{member.user.lookingFor}} Need to add this field to api</p>
                </div>

            </tab>
            <tab heading="Donations">
                <div class="tab-content">
                    <h4>Donations</h4>
                    <table class="table" *ngIf="member.donations.length > 0">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">DonationId</th>
                                <th scope="col">No Of People Served</th>
                                <th scope="col">Status</th>
                                <th scope="col">CollectedBy</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let donation of member.donations; let i = index">
                                <th scope="row"> {{i + 1}} </th>
                                <td>{{donation.donationId}}</td>
                                <td>{{donation.noOfMeals}}</td>
                                <td>{{donation.status}}</td>
                                <td>{{donation.collectedBy?.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </tab>


            <tab heading="Collections">
                <div class="tab-content">
                    <h4>Collections</h4>
                    <table class="table" *ngIf="member.collections.length > 0">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">DonationId</th>
                                <th scope="col">No Of People Served</th>
                                <th scope="col">Status</th>
                                <th scope="col">donatedBy</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let donation of member.collections; let i = index">
                                <th scope="row"> {{i + 1}} </th>
                                <td>{{donation.donationId}}</td>
                                <td>{{donation.noOfMeals}}</td>
                                <td>{{donation.status}}</td>
                                <td>{{donation.donatedBy?.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </tab>
            <!-- <tab heading="Photos">
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
            </tab>
            <tab heading="Messages">
                <p>Messages will go here</p>
            </tab> -->
        </tabset>
    </div>
</div>