.Donated {
    background-color: red;
    color: white;
    min-width: 7em;
}

.Collected {
    background-color: orange;
    color: white;
    min-width: 7em;
}

.Available {
    background-color: green;
    color: white;
    min-width: 7em;
}